body {
    font: 16px '得意黑', 'Times New Roman', serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
        font: 2rem '黑体', '标准黑体', serif;
        font-size: 2.5em;
        color: black;
    }
}

main p, main a, footer p, footer a {
    text-transform: uppercase;
}

main {
    max-width: 600px;
    margin: auto;

    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .link-wrapper h2 {
        margin: 0;
        padding-bottom: 4px;
        font-size: 1.6rem;
        font-weight: normal;
        color: #007BFF;
        border-bottom: 3px solid #007BFF;
    }
    .link-wrapper li {
        font-size: 1.2rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0;
    }

    ul li {
        padding: 10px 20px;
    }

    ul li a {
        text-decoration: none;
        color: #007BFF;
        transition: color 0.3s ease;
    }

    ul li a:hover,
    ul li a:focus {
        color: #0056b3;
        text-decoration: underline;
    }

    ul li a[data-no-finish] {
        color: #999;
        cursor: not-allowed;
    }

    ul li a[data-no-finish]:hover,
    ul li a[data-no-finish]:focus {
        color: #999;
        text-decoration: none;
    }


    /* 个人链接样式 */
    .link-wrapper:nth-child(2) h2 {
        color: #28a745;
        border-bottom-color: #28a745;
    }

    .link-wrapper:nth-child(2) ul li a:not([data-no-finish]) {
        color: #28a745;
    }

    .link-wrapper:nth-child(2) ul li a:not([data-no-finish]):hover,
    .link-wrapper:nth-child(2) ul li a:not([data-no-finish]):focus {
        color: #218838;
        text-decoration: underline;
    }

    // 给外链添加跳转图标
    [target=_blank] {
        padding-right: 13px;
        position: relative;

        &::after {
            content: '';
            display: inline-block;

            position: absolute;
            right: 0;
            top: 0;

            $w: 10px;
            width: $w;
            height: $w;
            background-image: url('/assets/img/link.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
